/*#nav{
	float:left;
	margin-left:10px;
	width:300px;
	font-family: 'Slabo 27px', serif;
}*/

#header{
	font-family: 'Slabo 27px', serif;
	font-size:10px;
	text-align:center;
}

#player{
}

#player .playerBox{
	width:300px;
	height:300px;
	margin:0 auto;
}

#content{
	float:right;
	position:absolute;
	left:310px;
	top:20px;
}

/*.picture{
	max-width:75%;
	height:auto;
}

b{
	font-weight:bold;
}

i{
	font-style:italic;
}*/